:root{
  font-size: 18px;
}

body {
  color:#212121;
}

a {
  color: #212121;
}

h1 {
  font-size: 60px;
 /* font-size: 3.75em; */
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

header {
  font-size: 14px;
  color: #616161;
}

header a {
  color: #616161;
  text-decoration: none;
}

header a:hover{
  color:#212121;
}

nav details summary{
  font-weight: bold;
}