@font-face {
  font-family: charter;
  src: url('../font/charter-regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url('../font/charter-italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url('../font/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../font/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root{
  font-size: 18px;
  --colorgray30: #212121;
  --colorgray20: #212449;
  --colorgray10: #616161;
}

body {
  color: var(--colorgray30);
  font-family: charter;
}

a {
  color: var(--colorgray30);
}

header {
  font-size: 14px;
  color:var(--colorgray10);
}

header a {
  color: #616161;
  text-decoration: none;
}

header a:hover{
  color:var(--colorgray10);
}

nav details summary{
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

